#root {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  position: fixed;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  padding-top: 5vh;
}

.wave-text span {
  display: inline-block;
  font-size: 5rem;
  animation: wave 1.25s ease-in-out infinite;
  color: var(--title);
  font-weight: 900;
}

.wave-text span:nth-child(1) {
  animation-delay: 0s;
}
.wave-text span:nth-child(2) {
  animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
  animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
  animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
  animation-delay: 0.8s;
}
.wave-text span:nth-child(6) {
  animation-delay: 1s;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.play {
  color: var(--text);
  margin-top: 5vh;
  font-size: 3rem;
  letter-spacing: 3px;

  transition: color 0.2s ease-in-out;

  border-bottom: 5px solid white;

  &:hover {
    color: white;
  }
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding-top: 4vh;
  font-weight: 900;
  font-size: 1.15rem;
  color: var(--text2);
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;

  height: 6vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.2rem;
}
