#root {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--title);
  font-weight: 900;
  font-size: 5rem;
  padding-top: 5vh;
}

button {
  color: var(--text);
  margin-top: 5vh;
  font-size: 2.25rem;
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding-top: 5vh;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--text2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 8vh;
  padding-top: 10vh;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: var(--color5) !important;

    > p {
      font-size: 0.9rem;
      font-weight: 800;
      max-width: 55%;
      margin-top: 25px;
      text-transform: uppercase;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: var(--modal-bg);
  height: 6vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.2rem;
}
