#root {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--title);
  font-weight: 900;
  font-size: 5rem;
  padding-top: 5vh;
}

.wave-text span {
  display: inline-block;
  font-size: 4rem;
  animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
  animation-delay: 0s;
}
.wave-text span:nth-child(2) {
  animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
  animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
  animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
  animation-delay: 0.8s;
}
.wave-text span:nth-child(6) {
  animation-delay: 1s;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.play {
  color: var(--text);
  margin-top: 5vh;
  font-size: 3rem;
  letter-spacing: 3px;

  transition: color 0.2s ease-in-out;

  border-bottom: 5px solid white;

  &:hover {
    color: white;
  }
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding-top: 4vh;
  font-weight: 900;
  font-size: 1.15rem;
  color: var(--text2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 6vh;
  width: 50vw;

  padding: 3vh 0;
  margin-top: 8vh;

  // background-color: rgba($color: #000000, $alpha: 0.75);
  background-color: var(--modal-bg);
  border-radius: 8px;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: var(--text);

    > p {
      font-size: 0.9rem;
      font-weight: 800;
      max-width: 55%;
      margin-top: 25px;
      text-transform: uppercase;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;

  height: 6vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.2rem;
}
