a {
  text-decoration: none;
  font-weight: 900;
  color: var(--text);
}

.options {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 350px;
  margin-top: 250px;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 15px;

  font-weight: 900;
  font-size: 1.5rem;

  span,
  .span {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.lyrics-wrapper {
  //   background-color: rgba(black, 0.15);
  padding: 2em, 2em, 2em, 0;
  border-radius: 8px;
  font-weight: 700;

  // temp height
  margin-top: 5vh;
  height: 30vh;
  max-width: 40vw;

  .lyrics {
    font-weight: 900;
    font-size: 3rem;
    text-align: start;

    .highlight {
      color: white !important;
    }

    .typed {
      color: var(--text) !important;
    }

    .untyped {
      color: gray;
    }
  }
}

.combo {
  font-size: 5rem;
  font-weight: 900;
  padding-top: 5vh;

  display: flex;
  width: 25vw;
  justify-content: space-between;

  .key-pressed {
    opacity: 0.15;
  }

  > div {
    display: flex;
    align-items: center;

    p {
      font-size: 25px;
      font-weight: 900;
    }
  }
}

.score-wrap {
  position: fixed;
  bottom: 0;
  font-weight: 900;
  font-size: 4rem;

  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  //   .score {
  //     font-size: 3rem;
  //   }
  .count-up-text {
    color: white;
  }

  p {
    font-size: 2rem;
  }
}

// temp
.userInput {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 50px;
  background-color: gray;
  color: white;
}

iframe {
  margin-top: 5vh;
}
