.song {
  width: 25vw;
  .song-title {
    padding-top: 5vh;
    font-weight: 900;
    font-size: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
  }

  .song-info {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
}

.lyrics-wrapper {
  background-color: var(--modal-bg);
  padding: 2em;
  border-radius: 8px;
  font-weight: 700;

  // temp height
  margin-top: 5vh;
  height: 30vh;
  //   max-width: ;
}

.combo {
  font-size: 5rem;
  font-weight: 900;
  padding-top: 5vh;

  display: flex;
  width: 25vw;
  justify-content: space-between;
}

.score-wrap {
  position: fixed;
  bottom: 0;
  font-weight: 900;

  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  .score {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }
}

.hp {
  width: 15px;
  height: 90vh;
  background-color: green;
  position: fixed;
  right: 0;
  bottom: 0;
}

.song-progress {
  width: 15px;
  height: 50vh;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
}

// temp
.userInput {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 50px;
  background-color: gray;
  color: white;
}
