#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: var(--color1);
}

h2 {
  color: var(--color2);
}

h3 {
  color: var(--color3);
}

h4 {
  color: var(--color4);
}

h5 {
  color: var(--color5);
}
