// Font
@font-face {
  font-family: "MonoManiacOne";
  src: url("./assets/fonts/MonomaniacOne-Regular.ttf") format("truetype");
}

:root {
  // Font
  font-family: "MonoManiacOne", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // Background
  background-color: var(--background);

  // Others
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Color schemes
  --color1: #ff6ad5;
  --color2: #c774e8;
  --color3: #ad8cff;
  --color4: #8795e8;
  --color5: #94d0ff;
  --background: #101010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--color4);
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color4);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
