// Font
@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  // Font
  font-family: "Exo2", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // Background
  background-color: var(--background);

  // Others
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Color schemes
  --title: #ff6ad5;
  --text: #ad8cff;
  --text2: #c774e8;
  --border: #8795e8;
  --color5: #94d0ff;
  --background: #080808;
  --modal-bg: #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--border);
  text-decoration: inherit;
}

body {
  width: 100%;
  height: 100%;
  color: var(--text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  font-family: inherit;
  background-color: var(--modal-bg);
  cursor: pointer;
  transition: border-color 0.15s;

  padding: 0.35em 1.5em;
  font-size: 1.5em;
  font-weight: 800;

  &:hover {
    border-color: var(--border);
  }
}
